       <nz-card   nzTitle="系统状态">
                <div nz-row [nzGutter]="8">
                  <div nz-col [nzSpan]="8">
                    <nz-card nzType="inner" nzTitle="进行交易数">
                            <p>{{rsInfoNum}}</p>
                    </nz-card>
                  </div>
                  <div nz-col [nzSpan]="8">
                    <nz-card nzType="inner" nzTitle="活跃交易数">
                        <p>{{acInfoNum}}</p>
                    </nz-card>
                  </div>
                  <div nz-col [nzSpan]="8">
                    <nz-card nzType="inner" nzTitle="交易信息数">
                        <p>{{infoNum}}</p>
                    </nz-card>
                  </div>
                </div>
        </nz-card>

        
        <nz-card *ngIf="hst" nzTitle="站点通知">
                <nz-timeline [nzPending]="" nzMode="alternate">
                   <nz-timeline-item *ngFor="let item of hst" [nzColor]="getColor(item)">
                    <input [(ngModel)]="item.description" placeholder="描述(为空删除)"/>
                    <input [(ngModel)]="item.time" placeholder="时间(Optional)"/>
                    <nz-select
                      nzShowSearch 
                      nzPlaceHolder="Select a type"
                      [(ngModel)]="item.type"
                    >
                      <nz-option nzLabel="Maintenance" [nzValue]="0" ></nz-option>
                      <nz-option nzLabel="Iteration" [nzValue]="1"></nz-option>
                      <nz-option nzLabel="Bug Fix" [nzValue]="-1"></nz-option>
                    </nz-select>
                  </nz-timeline-item>        

                </nz-timeline>
        <button (click)="add()" nz-button nzType="primary"><i nz-icon type="save" theme="outline"></i>创建</button>
        <button (click)="save()" nz-button nzType="primary"><i nz-icon type="save" theme="outline"></i>保存</button>
        </nz-card>
        
        <nz-card  *ngIf="site" nzTitle="站点信息">
                <div nz-row [nzGutter]="8">
                  <div nz-col [nzSpan]="8">
                        <nz-card  nzType="inner" nzTitle="网站名">
                                <p>{{site.name}}</p>
                        </nz-card>
                  </div>
                  <div nz-col [nzSpan]="8">
                    <nz-card nzType="inner" nzTitle="版权信息">
                        <p> <i nz-icon nzType="copyright" nzTheme="outline"></i>
                          {{site.cp}}</p>
                    </nz-card>
                  </div>
                  <div nz-col [nzSpan]="8">
                    <nz-card nzType="inner" nzTitle="网站状态">
                        <p>{{site.status?'正常':'维护'}}</p>
                    </nz-card>
                  </div>
                </div>
        </nz-card>
      
      