
        <nz-card   nzTitle="系统状态">
                <div nz-row [nzGutter]="8">
                  <div nz-col [nzSpan]="8">
                    <nz-card *ngIf="userNum" nzType="inner" nzTitle="总用户数">
                            <p>{{userNum}}</p>
                    </nz-card>
                  </div>
                  <div nz-col [nzSpan]="8">
                    <nz-card nzType="inner" nzTitle="活跃交易数">
                        <p>{{acInfoNum}}</p>
                    </nz-card>
                  </div>
                  <div nz-col [nzSpan]="8">
                    <nz-card nzType="inner" nzTitle="交易信息数">
                        <p>{{infoNum}}</p>
                    </nz-card>
                  </div>
                </div>
        </nz-card>
        <nz-card nzTitle="活动日程安排">
                <nz-timeline nzMode="alternate">
                        <nz-timeline-item>项目开始 2019-07-01</nz-timeline-item>
                        <nz-timeline-item nzColor="green">建立力导向图 2019-07-12</nz-timeline-item>
                        <nz-timeline-item [nzDot]="dotTemplate"
                          >完成所有后台管理系统UI原型</nz-timeline-item
                        >
                        <nz-timeline-item nzColor="red">实现高度自适应 2019-07-03</nz-timeline-item>
                        <nz-timeline-item>构建大屏可视化 2019-07-03</nz-timeline-item>
                        <nz-timeline-item [nzDot]="dotTemplate">完成管理界面详情</nz-timeline-item>
                      </nz-timeline>
                      <ng-template #dotTemplate>
                        <i nz-icon nzType="clock-circle-o" style="font-size: 16px;"></i>
                </ng-template>
        </nz-card>
        
        <nz-card  *ngIf="site" nzTitle="站点信息">
                <div nz-row [nzGutter]="8">
                  <div nz-col [nzSpan]="8">
                        <nz-card  nzType="inner" nzTitle="网站名">
                                <p>{{site.name}}</p>
                        </nz-card>
                  </div>
                  <div nz-col [nzSpan]="8">
                    <nz-card nzType="inner" nzTitle="版权信息">
                        <p> <i nz-icon nzType="copyright" nzTheme="outline"></i>
                          {{site.cp}}</p>
                    </nz-card>
                  </div>
                  <div nz-col [nzSpan]="8">
                    <nz-card nzType="inner" nzTitle="网站状态">
                        <p>{{site.status?'正常':'维护'}}</p>
                    </nz-card>
                  </div>
                </div>
        </nz-card>
      
      