
<nz-card   nzTitle="用户管理">
    <div nz-row [nzGutter]="8">
      <div nz-col [nzSpan]="8">
        <nz-card nzTitle="用户状态">
            <div class='useritem'>
                  <span class="badge">用户ID</span>4377
            </div>
            <div class='useritem'>
              <span class="badge">用户名</span>王牌测试员
          </div>
          <div class='useritem'>
              <span class="badge">封禁</span>否
          </div>
          <div class='useritem'>
              <span class="badge">信用评价</span>4.2
          </div>
          <div class='useritem'>
              <span class="badge">活跃度</span>20
          </div>
        </nz-card>
        <nz-card nzType="inner" nzTitle="用户简介">
            <p>此地有图</p>
            <p>我是出道两年的偶像练习生，cxk</p>
          </nz-card>
      </div>
      <div nz-col [nzSpan]="16">
        <nz-card nzType="inner" nzTitle="用户活跃度">            
          <div echarts theme="dark" [loading]="true"  [options]="option"></div>
        </nz-card>
      </div>
    </div>
</nz-card>