#root{
    width: 100%;
    height: 100%;
}
#out{
  width: 100%;
}
   nz-layout{
    height: 100%;
}
      .logo {
        height: 32px;
        background: rgba(255, 255, 255, 0.2);
        margin: 16px;
        color: white;
        font-family: "Microsoft YaHei","微软雅黑";
      }