
<nz-list [nzDataSource]="buyinfos" [nzRenderItem]="info" [nzGrid]="{gutter: 16, span: gridspan}">
    <ng-template #info let-info>
      <nz-list-item [nzContent]="nzContent">
        <ng-template #nzContent>
          <nz-card [nzTitle]="info.goodName">
      <div>
        <div class='infoitem'>
            <span class="badge">交易名</span>{{info.goodName.length>10? info.goodName.substr(0,10)+'...':info.goodName}}
        </div>
        <div class='infoitem'>
              <span class="badge">交易ID</span>{{info.buyInfoID}}
        </div>
        <div class='infoitem'>
              <span class="badge">交易类型</span>{{'求购'}}
        </div>
      <div class='infoitem'>
        <span class="badge">发起用户</span>{{info.userID}}
    </div>
    <div class='infoitem'>
        <span class="badge">发布日期</span>{{stringToDate(info.releaseTime)}}
    </div>
      <div class='infoitem'>
          <span class="badge">截止日期</span>{{stringToDate(info.validTime)}}
      </div>
      <div class='infoitem'>
          <span class="badge">状态</span>{{getstate(info.status)}}
      </div>
      <nz-tag *ngFor="let tag of info.tags">
        {{tag}}
      </nz-tag>
      </div>
              <a routerLink="/info/buyInfo/{{info.buyInfoID}}">
              交易详情
              <i nz-icon type="search"></i>
               </a>
          </nz-card>
        </ng-template>
      </nz-list-item>
    </ng-template>
  </nz-list>
  
  <nz-pagination
  [(nzPageIndex)]="current"
  [(nzPageSize)]="size"
  [nzPageSizeOptions]="[4,8,12,16,20,24,28,32]"	
  [nzTotal]="count"
  (nzPageIndexChange)	="getinfos()"
  (nzPageSizeChange)= "getinfos()"
  nzShowSizeChanger
></nz-pagination>