
<nz-layout>
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" nzWidth="200px">

    <div class="logo"></div>
    <ul  nz-menu [nzTheme]="'dark'" [nzMode]="'inline'"  [nzInlineCollapsed]="isCollapsed"> 
      <li nz-menu-item><a routerLink="/dashboard"><i nz-icon type="dashboard" theme="outline"></i>
        <span class="nav-text">导航</span></a></li>
      <li nz-submenu>
          <span title><i nz-icon type="user"></i><span class="nav-text">管理</span></span>
        <ul>
          <li nz-menu-item nzMatchRouter> <a routerLink="/user"><i nz-icon type="user" theme="outline"></i>用户管理</a></li>
          <li nz-menu-item> <a routerLink="/info"><i nz-icon type="profile" theme="outline"></i>交易管理</a></li>
        </ul>
      </li>
      <li nz-submenu>
          <span title><i nz-icon type="user"></i><span class="nav-text">统计</span></span>
        <ul>
      <li nz-menu-item> <a routerLink="/statistic"><i nz-icon type="profile" theme="outline"></i>用户画像</a></li>
      <li nz-menu-item> <a routerLink="/statistic"><i nz-icon type="profile" theme="outline"></i>交易数据分析</a></li>
    </ul>
    </li>
      <li nz-menu-item> 
      <a routerLink="/login">
        <span><i nz-icon type="login" theme="outline"></i><span class="nav-text">登录</span></span>
      </a>
    </li>
  </ul>


  </nz-sider>
  <nz-layout>
    <nz-header></nz-header>
    <nz-content>
      <router-outlet></router-outlet>
    </nz-content>
    <nz-footer>©2019 JOJO</nz-footer>
  </nz-layout>
</nz-layout>