
.outer-div{
	border-radius: 7px;
	border: 2px solid rgb(199, 199, 199);
	background: #01193d;
}

#fdg{
    position: absolute;
	top: 0%;
	left: 15%;
	width: 35%;
	height: 59%;	
	background: #01193d;
}

#good{
    position: absolute;
	top: 0%;
	left: 51%;
	width: 29%;
	height: 59%;	
	background: #01193d;
}

.tpc {
	height: 420px;
}

.btc {
	height: 250px;
}

#cld{
	position: absolute;
	top: 0%;
    right: 0%;
	width: 19%;
	height: 59%;	
	background: #01193d;
}

#ts{
    position: absolute;
	left: 15%;
	bottom: 0%;
	width: 50%;
	height: 39%;	
	background: #01193d;
}

#lq{
    position: absolute;
	right: 0%;
	width: 34%;
	bottom: 0%;
	height: 39%;	
	background: #01193d;
}

#pause{
    position: absolute;
	right: 0%;
	bottom: 0%;
}