input {
    color: black;
  }
  
  h2 {
    color: white;
  }
  
  .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color: #607d8b;
    line-height: 0.9em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 3em;
    min-width: 16px;
    text-align: right;
    margin-right: 0.8em;
    border-radius: 4px 0 0 4px;
  }
  
  .activityitem {
    font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS",
      sans-serif;
    position: relative;
    cursor: pointer;
    background-color: #eee;
    margin: 0.5em;
    padding: 0.3em 0;
    height: 3em;
    border-radius: 4px;
  }
  
  .activityitem:hover {
    color: #607d8b;
    background-color: rgba(221, 221, 221, 0.548);
    left: 0.1em;
  }
  