<h2>交易信息管理</h2>      
<input [(ngModel)]="Tthreshold" placeholder="时间阈值"/>
<input [(ngModel)]="Ythreshold" placeholder="预约阈值"/>
<button nz-button  [nzType]="'primary'">清除所有等待时间超过{{Tthreshold}}天且预约数小于{{Ythreshold}}的交易信息</button>

<nz-list [nzDataSource]="infos" [nzRenderItem]="info" [nzGrid]="{gutter: 16, span: 6}">
    <ng-template #info let-info>
      <nz-list-item [nzContent]="nzContent">
        <ng-template #nzContent>
          <nz-card [nzTitle]="info.intro">
      <div>
        <div class='infoitem'>
              <span class="badge">交易ID</span>{{info.id}}
        </div>
        <div class='infoitem'>
              <span class="badge">交易类型</span>{{info.type}}
        </div>
        <div class='infoitem'>
              <span class="badge">交易简介</span>{{info.intro}}
        </div>
        <div class='infoitem'>
          <span class="badge">交易发起人</span>{{info.source}}
      </div>
      <div class='infoitem'>
          <span class="badge">发起时间</span>{{info.time}}
      </div>
      <div class='infoitem'>
          <span class="badge">状态</span>{{info.state}}
      </div>
      <div class='infoitem'>
          <span class="badge">当前预约数</span>{{info.count}}
      </div>
      </div>
              <a routerLink="/info/{{info.id}}">
              交易详情
              <i nz-icon type="search"></i>
               </a>
          </nz-card>
        </ng-template>
      </nz-list-item>
    </ng-template>
  </nz-list>