
  .login-form {
    position: absolute;
    bottom: 50%;
    left: 50%;
  }

  
  .login-form-forgot {
    float: right;
  }

  .login-form-button {
    width: 100%;
}
#log {
  position: absolute;
  width: 30%;
  bottom: 50%;
  left: 35%;
}