
<form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
  <nz-form-item>
    <nz-form-control nzErrorTip="请输入用户名!">
      <nz-input-group [nzPrefix]="prefixUser">
        <input type="text" nz-input formControlName="userName" placeholder="Username">
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control nzErrorTip="请输入原密码!">
      <nz-input-group [nzPrefix]="prefixLock">
        <input type="password" nz-input formControlName="password" placeholder="Old Password">
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control nzErrorTip="请输入新密码!">
      <nz-input-group [nzPrefix]="prefixLock">
        <input type="password" nz-input formControlName="newpassword" placeholder="New Password">
      </nz-input-group>
      <nz-form-explain *ngIf="validateForm.controls.password.value !== validateForm.controls.newpassword.value">两次输入不一致!</nz-form-explain>
      </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control>
      <button nz-button (click)="editpwd()" class="login-form-button" [nzType]="'primary'">修改密码</button>
    </nz-form-control>
  </nz-form-item>
</form>        
<ng-template #prefixUser><i nz-icon type="user"></i></ng-template>
<ng-template #prefixLock><i nz-icon type="lock"></i></ng-template>