
        <div class='outer-div' id='fdg'>
          <div echarts theme="dark"  class= 'tpc'[loading]="true" [options]="fdgoption"(chartInit)="onChartInit($event)"></div>
      </div>
      <div class='outer-div' id='good'>
        <div echarts theme="dark"  class= 'tpc'[loading]="true" [options]="goodoption" (chartInit)="onChartInit($event)"></div>
    </div>
        <div class='outer-div' id='cld'>
            <div echarts theme="dark" class= 'tpc'[loading]="true" [options]="cldoption"(chartInit)="onChartInit($event)">
            </div>
        </div>


          <div class='outer-div' id='ts'>
            <div echarts theme="dark" class='btc' [loading]="true"  [options]="tsoption"></div>
          </div>

        
        <div class='outer-div' id='lq'>
          <div echarts theme="dark" class='btc' [loading]="true" [options]="lqoption"></div>
        </div>