
<nz-card   nzTitle="活动管理">
        <div nz-row [nzGutter]="8">
          <div nz-col [nzSpan]="8">
            <nz-card nzTitle="活动状态">
            <nz-timeline nzMode="alternate">
                    <nz-timeline-item>创建活动 2019-07-01</nz-timeline-item>
                    <nz-timeline-item nzColor="green">开始活动(可修改) 2019-07-02</nz-timeline-item>
                    <nz-timeline-item [nzDot]="dotTemplate"
                      >活动结束(可修改)</nz-timeline-item
                    >
                  </nz-timeline>
                  <ng-template #dotTemplate>
                    <i nz-icon nzType="clock-circle-o" style="font-size: 16px;"></i>
            </ng-template>
            </nz-card>
            <nz-card nzType="inner" nzTitle="活动简介">
                <p>此地有图</p>
                <p>本活动属管理员闲得无聊创建，如有看见请点差评</p>
              </nz-card>
          </div>
          <div nz-col [nzSpan]="16">
            <nz-card nzType="inner" nzTitle="活动热度">            
              <div echarts theme="dark" [loading]="true"  [options]="tsoption"></div>
            </nz-card>
          </div>
        </div>
</nz-card>