<h2>交易信息管理</h2> 
<!--
<nz-input-number
  [(ngModel)]="Tthreshold"
  [nzMin]="1"
  [nzStep]="1"
  [nzPlaceHolder]="'时间阈值'"
></nz-input-number>
<nz-input-number
  [(ngModel)]="Ythreshold"
  [nzMin]="1"
  [nzStep]="1"
  [nzPlaceHolder]="'预约阈值'"
></nz-input-number>
<button nz-button [nzType]="'primary'">结束所有等待时间超过{{Tthreshold}}天且预约数小于{{Ythreshold}}的交易信息</button>

-->
  
  <div nz-row [nzGutter]="8">
    <div nz-col [nzSpan]="8">
      <nz-select 
      id='type'
      [(ngModel)]="selectedType"
      nzPlaceHolder="Choose">
        <nz-option [nzValue]="0" nzLabel="出售"></nz-option>
        <nz-option [nzValue]="1" nzLabel="求购"></nz-option>
        <nz-option [nzValue]="-1" nzLabel="All"></nz-option>
      </nz-select>
    </div>
    <div nz-col [nzSpan]="8">
      <nz-input-group id='searchname' nzSearch [nzAddOnAfter]="suffixIconButton">
        <input type="text" [(ngModel)]="searchUser" nz-input placeholder="输入用户ID" />
      </nz-input-group>
      <ng-template #suffixIconButton>
        <button nz-button (click)='searchByUser()' nzType="primary" nzSearch><i nz-icon nzType="search"></i></button>
      </ng-template>
      
    </div>
    <div nz-col [nzSpan]="8">
      <nz-select
      id = 'tag'
      nzMode="tags"
      [nzShowArrow]="false"
      [nzOpen]="false"	
      (ngModelChange)	="selectTag($event)"
      [nzTokenSeparators]="[',']"
      [(ngModel)]="searchTag"
      nzPlaceHolder="TagFilter">
      <nz-option *ngFor="let option of searchTag" [nzLabel]="option" [nzValue]="option"> </nz-option>
      </nz-select>
    </div>
  </div>

  <div *ngIf="selectedType!==1">
    <app-sell-info></app-sell-info>
  </div>
  <div *ngIf="selectedType!==0">
    <app-buy-info ></app-buy-info>
  </div>