<h2>交易信息管理</h2> 
<!--
<nz-input-number
  [(ngModel)]="Tthreshold"
  [nzMin]="1"
  [nzStep]="1"
  [nzPlaceHolder]="'时间阈值'"
></nz-input-number>
<nz-input-number
  [(ngModel)]="Ythreshold"
  [nzMin]="1"
  [nzStep]="1"
  [nzPlaceHolder]="'预约阈值'"
></nz-input-number>
<button nz-button [nzType]="'primary'">结束所有等待时间超过{{Tthreshold}}天且预约数小于{{Ythreshold}}的交易信息</button>

-->
  
  <div nz-row [nzGutter]="8">
    <div nz-col [nzSpan]="8">
      <nz-select 
      id='type'
      [(ngModel)]="searchType"      
      (ngModelChange)	="selectType($event)"
      nzPlaceHolder="Choose">
        <nz-option [nzValue]="0" nzLabel="出售"></nz-option>
        <nz-option [nzValue]="1" nzLabel="求购"></nz-option>
        <nz-option [nzValue]="-1" nzLabel="All"></nz-option>
      </nz-select>
      <nz-select 
      id='type'
      [(ngModel)]="searchStatus"   
      (ngModelChange)	="search()"   
      nzPlaceHolder="Choose">
        <nz-option [nzValue]="1" nzLabel="待预约"></nz-option>
        <nz-option [nzValue]="2" nzLabel="预约"></nz-option>
        <nz-option [nzValue]="3" nzLabel="完成"></nz-option>
        <nz-option [nzValue]="4" nzLabel="失效"></nz-option>
        <nz-option [nzValue]="null" nzLabel="All"></nz-option>
      </nz-select>      
    </div>
    <div nz-col [nzSpan]="16">
      <nz-input-group id='searchid' nzSearch [nzAddOnAfter]="suffixIconButton">
        <input type="text" [(ngModel)]="searchUserID" nz-input placeholder="输入用户ID" />
      </nz-input-group>
      <nz-input-group id='searchname' nzSearch>
          <input type="text" [(ngModel)]="searchGoodName" nz-input placeholder="输入交易商品名" />
        </nz-input-group>
      <ng-template #suffixIconButton>
        <button nz-button (click)='search()' nzType="primary" nzSearch><i nz-icon nzType="search"></i></button>
      </ng-template>
      
    </div>
  </div>

  <div *ngIf="searchType==0">
    <app-sell-info></app-sell-info>
  </div>
  <div *ngIf="searchType==1">
    <app-buy-info ></app-buy-info>
  </div>
  <div *ngIf="searchType==-1">
    <div nz-row [nzGutter]="8">
      <div nz-col [nzSpan]="12">
        <app-sell-info></app-sell-info>
      </div>
      <div nz-col [nzSpan]="12">
        <app-buy-info ></app-buy-info>
      </div>
    </div>
  </div>