input{
    color: black;
}
 
 h2{
   color: white;
 }

#searchid {
  float:right;
  width: 40%;
}
#searchname {
  float:right;
  width: 40%;
}
#type {
  float:left;
  width: 30%;
}
#tag {
  float:right;
  width: 100%;
}